<% if(isAuthenticated) { %>
<img src="../../public/images/carrot.png" alt="당근아이콘">
<span class="title">의약품 유형 데이터베이스</span>
<span class="title madeBy">by <strong>Daniel</strong></span>
<a href="/logout" onclick="" class="logoutButton">로그아웃</a>
</header>
<% } else { %>
<img src="../../public/images/carrot.png" alt="당근아이콘">
<span class="title">의약품 유형 데이터베이스</span>
<span class="title madeBy">by <strong>Daniel</strong></span>
</header>
<% } %>