<div class="container mt-5">
  <h4>의약품 찾기</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>제품유형</th>
        <th>제조사</th>
        <th>제품명</th>
        <th>등록일</th>
        <th>등록자</th>
        <th>삭제</th>
      </tr>
    </thead>
    <tbody id="medList">
     
    </tbody>
  </table>
</div>