body{
  margin: 0;
}
nav{
  height:35px;
  background-color: #112;
  color: white;
}
h1{
  padding: 40px 0 40px 120px;
}
h5, h6{
  padding-top: 40px;
}
img{
  height: 35px;
  margin-top: 3px;
  margin-left: 20px;
}
.title{
  font-size: 16px;
  margin: 8px;
}
.login{
  margin-top: 20px;
}
.nav{
  text-decoration: none;
  color: white;
  font-size: 14px;
  float: right;
  padding: 7px 30px;
}
.input-group{
  width: 100%;
  margin: 30px auto;
  color:#333;
}
.input{
  padding-left:2px;
}
.registerbar{
  margin-right: 30px;
}
.regcomment h6{
  display: inline;
}
.inline{
  display: inline;
}
.regcomment {
  font-size: 12px;
  color: rgb(255, 67, 67);
  display: inline;
  margin-left: 30px;
}
.notice{
  color:rgb(255, 67, 67);
  margin: 20px;
}
.form-check{
  margin: 0 0 0 20px;
}
.deletebutton{
  color: rgb(255, 67, 67);
}
.select{
  height: 38px;
}