<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head')%>
</head>

<body>
  <%- include('../partials/nav')%>
  <div class="container mb-3">

    <h1 class="mb-3">About</h1>

    <h5>사용자들이 판매 목적으로 게시하는<br>
      수많은 의약품의 유형들 중<br>
      온라인상 거래가 불가능한 의약품들이 존재하기 때문에<br>
      일일이 웹서핑을 통해서 의약품의 유형을 찾기에는<br>
      번거롭고 불편하다는 경험을 바탕으로<br>
      사용자들이 자발적으로 데이터베이스에 접근해 등록을 하고<br>
      등록된 의약품에 대해 쉽게 검색해서<br>
      업무에 적용할 수 있도록 하기 위해 제작하였습니다</h5>
    <h6>- 당근서비스 페이팀 DANIEL -</h6>

  </div>
</body>

</html>