<%- include('../partials/head')%>
<%- include('../partials/header')%>
<div class="container input-group">
  <div class="registerbar">
    <div class="regcomment">
      <h6>제품 등록</h6>
      <p>* 제품명 등록 시 띄어쓰기 없이 입력해 주세요</p>
    </div>
    <form id="reg-form">
      <div class="input-group col-md-12">
        <div class="form">
          <select onchange="getListValue()" class="btn btn-white btn-md border select" id="sort">
            <option value="none" selected disabled>제품 유형</option>
            <option value="건강기능식품">건강기능식품</option>
            <option value="고형차">고형차</option>
            <option value="기타가공품">기타가공품</option>
            <option value="액상차">액상차</option>
            <option value="추출가공식품">추출가공식품</option>
            <option value="혼합음료">혼합음료</option>
            <option value="홍삼/인삼음료">홍삼/인삼음료</option>
          </select>
        </div>
        <div class="">
          <input id="compName" type="text" class="form-control" placeholder="제조사">
        </div>
        <div class="">
          <input id="prodName" type="text" class="form-control" placeholder="제품명">
        </div>
        <div class="">
          <button onclick="registerProduct()" type="button" class="btn btn-white border">등록</button>
        </div>
      </div>
    </form>
  </div>
  <div class="searchbar">
    <div class="regcomment">
      <h6>제품 검색</h6>
      <p>* 제품 검색 시 띄어쓰기 없이 입력해 주세요</p>
    </div>
    <div class="input-group col-md-12">
      <div class="form">
        <select onchange="getListValue()" class="btn btn-white btn-md border select" id="sort">
          <option value="none" selected disabled>제품 유형</option>
          <option value="건강기능식품">건강기능식품</option>
          <option value="고형차">고형차</option>
          <option value="기타가공품">기타가공품</option>
          <option value="액상차">액상차</option>
          <option value="추출가공식품">추출가공식품</option>
          <option value="혼합음료">혼합음료</option>
          <option value="홍삼/인삼음료">홍삼/인삼음료</option>
        </select>
      </div>
      <div class="">
        <input id="search" type="text" class="form-control" placeholder="검색">
      </div>
      <div class="">
        <button onclick="search()" type="button" class="btn btn-white border">검색</button>
      </div>
    </div>
  </div>
</div>
<%-include('../partials/table')%>
<script src="../../public/js/script.js"> </script>
</body>

</html>