<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head')%>
</head>

<body>
  <%- include('../partials/nav')%>
  <div class="container input-group">
    <div class="searchbar">
      <div class="regcomment">
        <h6>제품 검색</h6>
        <p>* 제품 검색 시 띄어쓰기 없이 입력해 주세요</p>
      </div>
      <div class="input-group col-md-12">
        <div class="form">
          <select onchange="getListValue()" class="btn btn-white btn-md border select" id="sort">
            <option value="none" selected disabled>제품 유형</option>
            <option value="건강기능식품">건강기능식품</option>
            <option value="고형차">고형차</option>
            <option value="기타가공품">기타가공품</option>
            <option value="액상차">액상차</option>
            <option value="추출가공식품">추출가공식품</option>
            <option value="혼합음료">혼합음료</option>
            <option value="홍삼/인삼음료">홍삼/인삼음료</option>
          </select>
        </div>
        <div class="input">
          <input id="search" type="text" class="form-control" placeholder="검색">
        </div>
        <div class="input">
          <button onclick="search()" type="button" class="btn btn-white border">검색</button>
          <a href="/posts/new" class="btn btn-white border" style="color:rgb(64, 103, 222)">제품 등록</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <h4>의약품 찾기</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>제품유형</th>
          <th>제조사</th>
          <th>제품명</th>
          <th>등록일</th>
          <th>등록자</th>
          <th>삭제</th>
        </tr>
      </thead>
      <tbody id="medList">
        <%- include('../posts/prodList') %>
      </tbody>
    </table>
  </div>
</body>
<script>
  function getListValue() {
    let listValue = $('#sort').val();
    console.log(listValue)
  }
</script>

</html>